@import url(http://fonts.googleapis.com/css?family=Indie+Flower);

body {
    font-size: 200%;
    font-family: Indie Flower;
}

h1 {
    text-align: center;
}

/* step-1 */

#step-1 #lets-do-some-docker {
    margin-bottom: 140px;
    margin-top: 140px;
}

#step-1 .author {
    text-align: right;
}

/* step-7 */

#step-7 .versions {
    margin-left: 200px;
    font-size: 64px;
}

#step-7 .versions em {
    color: grey;
    font-weight: bold;
}

/* step-8 */

#step-8 .versions {
    margin-left: 200px;
    font-size: 64px;
}

#step-8 .versions em {
    color: red;
    font-weight: bold;
}

/* step-17 */

#step-17 .code {
    font-size: 50px;
    margin-top: 100px;
}

/* step-18 */

#step-18 .code {
    font-size: 40px;
}

/* step-19 */

#step-19 .code {
    font-size: 50px;
    margin-top: 100px;
}

/* step-20 */

#step-20 .code {
    font-size: 40px;
}
